<template>
  <div>
    <ListLayout>
      <template slot="header">
        <div class="roleBox">
          <SwitchRoles />
        </div>
        <template>
          <!-- Admin can see this -->
          <div v-if="checkPermission(['admin'])" class="adminBox">
            <el-input />
            <el-select v-model="selectList" />
          </div>
        </template>
      </template>
      <template slot="middle">
        <Conditions />
      </template>
      <template slot="content">
        <template>
          <el-table :data="tableData" border style="width: 100%">
            <el-table-column prop="nick" label="昵称" />
            <el-table-column prop="phone" label="电话" />
            <el-table-column prop="name" label="姓名" />
            <el-table-column prop="subject" label="学科" />
            <el-table-column prop="job" label="职位" />
            <el-table-column prop="year" label="年龄" />
            <el-table-column prop="updateTime" label="入学日期" />
            <el-table-column prop="" label="操作" />
          </el-table></template>
      </template>
    </ListLayout>
  </div>
</template>

<script>
import { getTestList } from '@/api/test.js'
import ListLayout from '@/components/ListLayout/index.vue'
import Conditions from './components/conditions/index.vue'
import SwitchRoles from './components/header/SwitchRoles.vue'
import permission from '@/directive/permission/index.js' // 权限判断指令
import checkPermission from '@/utils/permission'
export default {
  components: {
    ListLayout,
    Conditions,
    SwitchRoles
  },
  directives: { permission },
  data() {
    return {
      tableData: [],
      selectList: []
    }
  },
  created() {
    getTestList().then((res) => {
      this.$data.tableData = res.data.items
    })
  },
  methods: {
    checkPermission
  }
}
</script>

<style lang="scss" scoped>
.adminBox{
  display: flex;
}
</style>
